<ion-header translucent="true">
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center" size="large">To Do List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- fab placed to the top end -->
  <ion-fab size="large"vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newproject()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card  *ngIf="service.flag">
    <ion-card-content *ngFor="let x of service.projects">
      <ion-card type="button" (click)="service.viewprojecttask(x)">
        <div class="aligncard">
        <ion-card-title class="ion-text-left"> <strong>{{ x.projectName }}</strong>
        <ion-checkbox class="checksize" [checked]="x.projectStatus"></ion-checkbox></ion-card-title>
        <ion-card-subtitle class="ion-text-center">Start Date : {{ x.projectStartDate| date}}</ion-card-subtitle>
        <ion-card-subtitle class="ion-text-center">Due Date : {{ x.projectEndDate| date}}</ion-card-subtitle>
        <ion-text size= "small">Project Id: {{ x.id_project }}</ion-text><br>
        <ion-text size= "small">Notes: {{ x.projectNotes }}</ion-text>
      </div>
    </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
