<ion-header translucent="true">
  <ion-toolbar color="danger">
    <ion-icon size="large" name="chevron-back-outline" slot="start" (click)="home()"></ion-icon>
    <ion-title class="ion-text-center" size="large">To Do List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- fab placed to the top end -->
  <ion-fab size="large"vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newtask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center"><strong>{{ service.data.projectName }}</strong></ion-card-title>
      <ion-card-subtitle size="small"class="ion-text-center">Tasks - {{ service.data.projectTasks }}</ion-card-subtitle>
    </ion-card-header>
    <div *ngIf="service.tflag">
    <ion-card-content *ngFor="let y of service.tasks">
      <ion-card >
        <div class="aligncard">
        <ion-card-title class="ion-text-left"> <strong>{{ y.taskName }}</strong>
        <ion-checkbox class="checksize" [checked]="y.taskStatus" (ionchange)="checkbox($event)"></ion-checkbox></ion-card-title>
        <ion-card-subtitle class="ion-text-center">Start Date : {{ y.taskStartDate| date}}</ion-card-subtitle>
        <ion-card-subtitle class="ion-text-center">Due Date : {{ y.taskEndDate| date}}</ion-card-subtitle>
        <ion-card-subtitle class="ion-text-center">Complexity Level : {{ y.taskComplexity }}</ion-card-subtitle>
        <ion-text size= "small">Notes: {{ y.taskNotes }}</ion-text>
      </div>
    </ion-card>
    </ion-card-content></div>
  </ion-card>
</ion-content>
